# PatchKit Tools Configuration
#
# Copy this file as config.local.yml and uncomment config values to override
# default configuration.

# Behaviour

# This defines if tools should print the full stack trace in case of error.
# debug: false

# Defines the host to which patchkit tools should connect to.
# api_url: http://api.patchkit.net

# Uploading

# Upload chunk size in bytes
# upload_chunk_size: 33554432
