# PatchKit Tools Configuration
#
# Copy this file as config.local.yml and uncomment config values to override
# default configuration.

# Behaviour

# This defines if tools should print the full stack trace in case of error.
# debug: false

# Defines the host to which patchkit tools should connect to.
# api_url: http://api.patchkit.net

# Decides if the progress bar should render its updates during long operations.
# Might be a good idea to set it to false on CI/CD environments.
# show_progress_bar_updates: true

# Uploading

# Upload chunk size in bytes
# upload_chunk_size: 33554432

# Uploading retry count before giving up
# upload_retry_count: 2

# Should the upload script ask to try again after retry count has been reached?
# upload_ask_to_try_again: true

# The number of threads to use when building a diff file
# rdiff_thread_count: 4